html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #101010;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 64px;
  font-weight: 100;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
h1 strong {
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
h2::after {
  content: "";
  display: block;
  width: 95px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-bottom: 3px solid #0097A7;
}

p {
  font-size: 14px;
  color: #D5D5D5;
  margin-top: 1.5rem;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.dialog-off-canvas-main-canvas {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 6rem;
  z-index: 1;
  background-color: rgba(16, 16, 16, 0.6862745098);
}
@media screen and (max-width: 800px) {
  header {
    height: 8rem;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
header .region.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
@media screen and (max-width: 800px) {
  header .region.region-header {
    flex-direction: column;
  }
}
header .region.region-header #block-adchallenge-branding {
  display: flex;
  align-items: center;
}
header .region.region-header #block-adchallenge-branding .site-logo {
  margin-right: 1.5rem;
}
header .region.region-header #block-adchallenge-branding .site-slogan {
  font-size: 24px;
  font-weight: 900;
  color: #FFFFFF;
}
header .region.region-header nav .menu {
  display: flex;
  height: 2rem;
  margin: 0;
  padding: 0;
}
header .region.region-header nav .menu .menu-item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-right: 2.5rem;
  margin-bottom: -3px;
  border-bottom: 3px solid transparent;
  transition: all 0.2s linear;
}
header .region.region-header nav .menu .menu-item:hover {
  border-bottom: 3px solid #0097A7;
  transition: all 0.2s linear;
}
header .region.region-header nav .menu .active {
  border-bottom: 3px solid #FF5252;
}
header .region.region-header nav .menu .menu-item:last-child {
  margin-right: 0;
}

main #block-top-content-header {
  display: flex;
  justify-content: center;
  width: auto;
  height: 724px;
  opacity: 0.9;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  main #block-top-content-header {
    height: 624px;
  }
}
@media screen and (max-width: 1000px) {
  main #block-top-content-header {
    height: 524px;
  }
}
@media screen and (max-width: 800px) {
  main #block-top-content-header {
    height: 424px;
  }
}
@media screen and (max-width: 600px) {
  main #block-top-content-header {
    height: 342px;
  }
}
@media screen and (max-width: 400px) {
  main #block-top-content-header {
    height: 242px;
  }
}
main #block-top-content-header #challenge-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  main #block-top-content-header #challenge-home {
    margin-top: -100px;
  }
}
@media screen and (max-width: 400px) {
  main #block-top-content-header #challenge-home {
    margin-top: -30px;
  }
}
main #block-top-content-header #challenge-home h2 {
  font-size: 24px;
  text-transform: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5411764706);
  padding-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  main #block-top-content-header #challenge-home h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  main #block-top-content-header #challenge-home h2 {
    font-size: 16px;
  }
}
main #block-top-content-header #challenge-home h2::after {
  display: none;
}
main #block-top-content-header #challenge-home .clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 600px) {
  main #block-top-content-header #challenge-home .clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 500px) {
  main #block-top-content-header #challenge-home .clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
    margin-bottom: 1rem;
  }
}
main #block-top-content-header #challenge-home .field.field--name-field-link.field--type-link.field--label-hidden.field__item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  main #block-top-content-header #challenge-home .field.field--name-field-link.field--type-link.field--label-hidden.field__item {
    padding-top: 0;
    padding-bottom: 0;
  }
}
main #block-top-content-header #challenge-home .field.field--name-field-link.field--type-link.field--label-hidden.field__item a {
  background-color: #FF5252;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 5px;
  transition: all 0.2s linear;
}
@media screen and (max-width: 600px) {
  main #block-top-content-header #challenge-home .field.field--name-field-link.field--type-link.field--label-hidden.field__item a {
    font-size: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
main #block-top-content-header #challenge-home .field.field--name-field-link.field--type-link.field--label-hidden.field__item a:hover {
  background-color: #101010;
  box-shadow: inset 0 0 0 1px #FFFFFF;
  transition: all 0.2s linear;
}
main #block-adchallenge-content {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 800px) {
  main #block-adchallenge-content {
    align-items: center;
  }
}
main #block-adchallenge-content .view-content {
  display: flex;
}
@media screen and (max-width: 800px) {
  main #block-adchallenge-content .view-content {
    flex-direction: column;
  }
}
main #block-adchallenge-content .view-content .views-row {
  margin-right: 5rem;
}
@media screen and (max-width: 800px) {
  main #block-adchallenge-content .view-content .views-row {
    margin-bottom: 5rem;
  }
}
main #block-adchallenge-content .view-content .views-row h2 {
  border: none;
}
main #block-adchallenge-content .view-content .views-row h2::after {
  display: none;
}
main #block-adchallenge-content .view-content .views-row h2 .field.field--name-title.field--type-string.field--label-hidden {
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
}
main #block-adchallenge-content .view-content .views-row .node__content .createdDate {
  font-size: 12px;
  color: #949494;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
main #block-adchallenge-content .view-content .views-row .node__content .field.field--name-field-image.field--type-image.field--label-hidden.field__item img {
  max-width: 310px;
  max-height: 207px;
  width: 100%;
  height: 100%;
}
main #block-adchallenge-content .view-content .views-row .node__content .field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item {
  margin-top: 1.5rem;
}
main #block-adchallenge-content .view-content .views-row .node__content .node__links {
  margin-top: 3rem;
}
main #block-adchallenge-content .view-content .views-row .node__content .node__links .node-readmore {
  padding: 0;
}
main #block-adchallenge-content .view-content .views-row .node__content .node__links .node-readmore a::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-bottom: 1px;
  margin-left: 6px;
  border: solid #0097A7;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
  transition: all 0.2s linear;
}
main #block-adchallenge-content .view-content .views-row .node__content .node__links .node-readmore a:hover:after {
  border: solid #FF5252;
  border-width: 0 3px 3px 0;
  transition: all 0.2s linear;
}
main #block-adchallenge-content .view-content .views-row:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
main #block-latest-event #challenge-event {
  display: flex;
  background-color: #151e21;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  scroll-margin-top: 5rem;
}
@media screen and (max-width: 800px) {
  main #block-latest-event #challenge-event {
    flex-direction: column;
    align-items: center;
  }
}
main #block-latest-event #challenge-event .img-left {
  width: 50%;
  margin-right: 5rem;
}
@media screen and (max-width: 800px) {
  main #block-latest-event #challenge-event .img-left {
    margin-bottom: 5rem;
  }
}
main #block-latest-event #challenge-event .img-left img {
  display: block;
  min-width: 350px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  main #block-latest-event #challenge-event .img-left img {
    min-width: 280px;
  }
}
@media screen and (max-width: 400px) {
  main #block-latest-event #challenge-event .img-left img {
    min-width: 230px;
  }
}
main #block-latest-event #challenge-event .content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
main #block-about-me #challenge-about-me {
  display: flex;
  background-color: #101010;
  margin-top: 15rem;
  margin-bottom: 7rem;
  margin-left: 10%;
  margin-right: 10%;
  scroll-margin-top: 4rem;
}
@media screen and (max-width: 800px) {
  main #block-about-me #challenge-about-me {
    flex-direction: column;
    margin-top: 7rem;
    align-items: center;
  }
}
main #block-about-me #challenge-about-me .content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  main #block-about-me #challenge-about-me .content-left {
    margin-bottom: 5rem;
  }
}
main #block-about-me #challenge-about-me .img-right {
  display: block;
  width: 50%;
  height: auto;
  min-width: 350px;
  margin-left: 5rem;
  -webkit-appearance: none;
  -webkit-box-shadow: -200px -190px 0 -70px #1e2c2e;
  box-shadow: -200px -190px 0 -70px #1e2c2e;
}
main #block-about-me #challenge-about-me .img-right img {
  display: block;
  min-width: 350px;
  width: 100%;
  height: auto;
}

footer .region.region-footer {
  width: 100%;
}
footer .region.region-footer nav {
  display: flex;
  justify-content: center;
  background-color: #151e21;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer .region.region-footer nav .menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
footer .region.region-footer nav .menu .menu-item {
  display: flex;
  margin-right: 1rem;
}
footer .region.region-footer nav .menu .menu-item a {
  color: #949494;
}
footer .region.region-footer nav .menu .menu-item:last-child {
  margin-right: 0;
}
footer .region.region-footer #block-footercreated {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2c2e;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .region.region-footer #block-footercreated a {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
